<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="/order.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Order Details</h1>
    <div class="order-section">
        <label for="id">Enter order id:</label>
        <input type="text" id="id" placeholder="id">
        <button onclick="fetchOrderDetails()">Show</button>
    </div>
    <div id="orderDetails"></div>
</div>
<script src="/order.js"></script>
</body>
</html>